@using Akcija_prodaja.Models
@using System.Web.Mvc;
@model List<AkcijaModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (@Html.BeginForm("PopisAkcija", "Akcija", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        @Html.Label("Naziv", new { @class = "sr-only" })

    </div>
}
<br />
<table class="table">
    <tr>
        <th>Naziv</th>
        <th>Datum početka</th>
        <th>Datum završetka</th>
        <th>Opis</th>

    </tr>
    @foreach (AkcijaModel a in Model)
    {
        <tr>
            <td>@a.naziv_akcija</td>
            <td>@a.datum_pocetka.Value.ToShortDateString()</td>
            <td>@a.datum_zavrsetka.Value.ToShortDateString()</td>
            <td>@a.opis</td>

            <td><a onclick="pokaziModal('@Url.Action("UrediAkciju", "Akcija",new { id = a.id_akcija })')" class="btn btn-primary btn-sm">Uredi</a></td>

            <td><a onclick="pokaziModal('@Url.Action("ObrisiAkciju", "Akcija",new { id = a.id_akcija })')" class="btn btn-danger btn-sm">Obriši</a></td>

        </tr>

    }
</table>

<input type="button"
       value="Prikaz pdf formata"
       onclick="location.href='@Url.Action("CreatePdf", "Akcija" ) >'" />

<p>@Html.ActionLink("Dodavanje nove akcije", "DodavanjeAkcija", "Akcija")</p>
<p>@Html.ActionLink("Povratak", "PocetnaStranica", "Pocetna")</p>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" data-backdrop="static">
    <div id="modalContainer">
    </div>
</div>
<script>
    function pokaziModal(path) {
        $.ajax({
            url: path,
            success: function (data) {
                $("#modalContainer").html(data);
                $('#modal').modal('show');
            }
        });
    }
</script>
