
@{
    ViewBag.Title = "PocetnaStranica";
}
<div>
    <h2 align="center">Dobro došli na početnu stranicu!</h2>
</div>

<h4 align="center">Odaberite željenu radnju:</h4>
<div align="center">
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Popis","Poduzece")'">Popis poduzeca</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("DodavanjePoduzeca","Poduzece")'">Dodavanje novog poduzeca</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("DodavanjeKategorija","Kategorija")'">Dodavanje nove kategorije</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("PopisKategorija","Kategorija")'">Popis kategorija</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("PopisOglasa","Oglas")'">Popis oglasa</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("DodavanjeOglasa","Oglas")'">Dodavanje novog oglasa</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("PopisAkcija","Akcija")'">Popis akcija</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("DodavanjeAkcija","Akcija")'">Dodavanje nove akcije</button>





</div>
