@model Akcija_prodaja.Models.KorisnikModel
@using System.Web.Mvc;

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@{
    Layout = null;
}



@using (Html.BeginForm())
{



    @Html.AntiForgeryToken()

    <div align="center" style="color:darkslateblue">
        <h2>AKCIJSKA PRODAJA</h2>
        <p>  </p>

    </div>


    <div class="form-signin" align="center">

        <p></p>
        <p></p>
        <h4 class="text-align:center text-danger">Prijava:</h4>

        <p></p>
        <p></p>
        <p class="text-primary">Upišite e-mail adresu:</p>
        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "E-mail adresa" } })
        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

        <p></p>
        <p></p>
        <p class="text-primary">Upišite lozinku:</p>
        @Html.PasswordFor(model => model.lozinka, new { @class = "form-control", placeholder = "Lozinka" })
        @Html.ValidationMessageFor(model => model.lozinka, "", new { @class = "text-danger" })


    </div>

    <p></p>
    <p></p>

    <p style="text-align:center"><input type="submit" value="Prijavi se" class="btn btn-info" /></p>
    <p> </p>

    <p style="text-align:center">Molimo prijavite se za nastavak.</p>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    window.onload = window.history.forward(0);  //calling function on window onload

</script>  