@using Akcija_prodaja.Models
@using System.Web.Mvc;
@model List<KategorijaModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (@Html.BeginForm("PopisKategorija", "Kategorija", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        
        @Html.Label("Naziv", new { @class = "sr-only" })

    </div>
}
<br />
<table class="table">
    <tr>
        <th>Naziv kategorije</th>

    </tr>
    @foreach (KategorijaModel k in Model)
    {
        <tr>
            
            <td>@k.naziv_kategorije</td>
            <td>
                <p>@Html.ActionLink("Uredi", "UrediKategoriju", new {id=k.id_kategorija})</p>
            </td>
        </tr>
    }
</table>
<p>@Html.ActionLink("Povratak", "PocetnaStranica", "Pocetna")</p>

