@using Akcija_prodaja.Models
@model KorisnikModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title </h2>
<br />
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <table class=" table">

            <tr>
                <td>@Html.LabelFor(model => model.ime, new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.ime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ime, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.prezime, new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.prezime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.prezime, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.email, new { @class = "control-label" })</td>
                <td>

                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.lozinka, new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.lozinka, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.lozinka, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td>Poduzeće</td>
                <td>
                    @Html.DropDownListFor(model => model.id_poduzece,
                             new SelectList(ViewBag.Poduzeca, "value", "text"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_poduzece, "", new { @class = "text-danger" })
                </td>
            </tr>

        </table>
    </div>
    <p>
        @Html.ValidationSummary(true,
                  "Spremanje nije uspjelo. Popravite potrebne podatke i pokušajte ponovno!", new { @class = "text-danger" })
    </p>
    // Submit (save) tipka
    <p><input type="submit" value="Spremi" class="btn btn-primary" /></p>
    @Html.ActionLink("Povratak na početak bez spremanja", "PopisKorisnika", new { @class = "btn btn-link" })
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


