@using Akcija_prodaja.Models
@using System.Web.Mvc;
@model List<KorisnikModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (@Html.BeginForm("PopisKorisnika", "Popis", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        @Html.Label("Naziv", new { @class = "sr-only" })
    </div>
}
<br />
<table class="table">
    <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>E-mail</th>

    </tr>
    @foreach (KorisnikModel k in Model)
    {
    <tr>
        <td>@k.ime</td>
        <td>@k.prezime</td>
        <td>@k.email</td>
        <td><a onclick="pokaziModal('@Url.Action("UrediKorisnika", "Korisnik",new { id = k.id_korisnik })')" class="btn btn-success btn-sm">Uredi</a></td>
        <td><a onclick="pokaziModal('@Url.Action("ObrisiKorisnika", "Korisnik",new { id = k.id_korisnik })')" class="btn btn-danger btn-sm">Obriši</a></td>
    </tr>
    }
</table>
<p>@Html.ActionLink("Povratak", "PocetnaStranica", "Pocetna")</p>


<p>@Html.ActionLink("Dodavanje novog korisnika", "DodavanjeKorisnika", "Korisnik")</p>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" data-backdrop="static">
    <div id="modalContainer">
    </div>
</div>
<script>
    function pokaziModal(path) {
        $.ajax({
            url: path,
            success: function (data) {
                $("#modalContainer").html(data);
                $('#modal').modal('show');
            }
        });
    }
</script>
